.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgb(68, 226, 94);
}
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: fit-content;
  background-color: rgb(68, 226, 94);
}
.spinner {
  color: white;
  width: 3rem;
  height: 3rem;
  margin-top: 1rem;
  align-self: center;
}

.box-wrapper {
  width: 100%;
}
.box {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-bottom: 5px solid white;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-stil {
  font-family: "Poppins";
  margin-left: 1rem;
  color: white;
}

.exp {
  align-self: center;
  font-family: "Poppins";
  color: white;
}
