<div class="content">
  <h1 class="title">Pugu</h1>
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <div>
      <h5>Username</h5>
      <input formControlName="username" />
    </div>
    <div>
      <h5>Mail</h5>
      <input formControlName="mail" />
    </div>
    <div>
      <h5>Password</h5>
      <input type="password" formControlName="password" />
    </div>
    <div>
      <h5>Password Repeat</h5>
      <input type="password" formControlName="passwordRepeat" />
    </div>
    <div *ngIf="!isLoading">
      <button class="button" type="submit">Sign Up</button>
    </div>
    <ion-spinner *ngIf="isLoading" style="margin-top: 0.5rem"></ion-spinner>
    <p (click)="onClickResend()">Resend verification mail</p>
    <p (click)="onClickToLogin()">Do you have an account? Sign in!</p>
  </form>
</div>
