@import "/src/styles/mixins";
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
  background-color: #ff7e2d;
  width: 100%;
  height: 100%;
  font-family: "Poppins";
  @include screen("md") {
    padding-top: 6rem;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  width: 12rem;
  border: 0px;
  background-color: #ff7e2d;
  border-bottom: 0.2rem solid white;
  color: white;
}

input:focus {
  outline: none;
}

.button {
  width: 12rem;
  height: 2.5rem;
  margin-top: 1.5rem;
  font-size: 1.2rem;
  background-color: white;
  color: #ff7e2d;
  margin-bottom: 0.2rem;
}
