.title {
  color: white;
  font-family: "Poppins";
}
.pageToolbar {
  background-color: #ff7e2d;
  height: 55px;
}

.menuToolbar {
  background-color: #ec9259;
  height: 55px;
}

.ion-item {
  color: #ff7e2d;
  font-family: "Poppins";
  font-weight: bold;
}

.logout {
  color: #e03e3e;
  font-family: "Poppins";
  font-weight: bold;
}
